@font-face {
    font-family: LosMesitos ;
    src: url(../../assets/fonts/Los-Mesitos.ttf);
}


.home-hero-header {
    font-family: LosMesitos;
    text-align: center;
    font-size: 80px;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.vl {
    border-left:  solid black;
    height: 500px;
    margin: 10pc;
    top: 0;
  }