@font-face {
    font-family: LosMesitos ;
    src: url(../../assets/fonts/Los-Mesitos.ttf);
}


.home-hero-header {
    font-family: LosMesitos;
    text-align: center;
    font-size: 80px;
    margin-top: 30%;
    padding-left: 7%;
}

.vl {
    border-left:  solid black;
    height: 500px;
    margin: 10pc;
    top: 0;
  }